html {
    font-family: 'Plus Jakarta Sans', sans-serif;
   
}

body {
    background-color: #171616;
}

.header {
    background-color: #171616;
    width: 100%;
    padding: 0em;
}

.logo-img{
    width: 9em;
}

.main-head {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.header-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: white;
}

ul {
    list-style-type: none;
    overflow: hidden;


}

li:nth-child(1) {
    color: rgb(255, 255, 255);
    font-weight: 600;

}

li {
    color: rgb(190, 190, 190);
    float: left;
    margin: 2em;

}

li:hover{
    cursor: pointer;
    color: #878787;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: rgb(122, 122, 122);
    border: 0px;
    border-radius: 10px;
    width: 8em;
    height: 2.5em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1em;
    font-weight: 800;
    color: white;
}

.nav {
    display: none;
}

.main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.content-info {

    width: 65%;
    height: 80vh;
    padding: 1em 2em 2em 2em;
}

.details {
    display: flex;
    gap: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

}

.card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    min-width: 33em;
    max-width: 33em;
    min-height: 10em;
    max-height: 15em;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgba(36, 37, 37, 1);
    border-radius: 20px;


}

.card-details {
    width: 50%;


}

.rolling-banner {
    min-width: 31em;
    max-width: 40em;
    height: 4em;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgba(36, 37, 37, 1);
    border-radius: 20px;

}

.flex-box-container-1 {
    display: flex;
    gap: 1em;
    margin-top: 1em;

}

.img-sign {
    width: 300px !important;
    margin-top: -2em;

}

.box1-info {
    display: block;
    align-items: center;
}

.box1-img {
    text-align: center;
    height: 8vh;



}

.box1-text {
    font-size: 12px;
    color: #535353;
}



.btn-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {
    position: absolute;
    bottom: 5%;
    left: 10%;


}

.box1 {
    min-width: 15em;
    max-width: 15em;
    min-height: 11.5em;
    max-height: 14em;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgba(36, 37, 37, 1);
    border-radius: 20px;


}

.subtitle-btn {
    position: absolute;
    bottom: 10%;
    right: 5%;


}

.card-title {
    font-size: 20px;
}

.title {
    font-size: 26px;
}

svg {
    fill: rgb(255, 255, 255);
}

.box2 {
    width: 50%;
    height: 25vh;
    border-radius: 10px;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgba(36, 37, 37, 1);
    border-radius: 20px;
}


.service-offering {
    min-width: 33em;
    min-height: 10em;
    max-height: 15em;
    border-radius: 10px;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgba(36, 37, 37, 1);
    border-radius: 20px;
}

.experience-box {
    min-width: 33em;
    min-height: 10em;
    max-height: 15em;
    border-radius: 10px;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgba(36, 37, 37, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;

}

.service-exp-box {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;

}

.banner-creds {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;

}

.static-banner {

    min-width: 27em;
    max-width: 33em;
    min-height: 10em;
    max-height: 15em;
    border-radius: 10px;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgba(36, 37, 37, 1);
    border-radius: 20px;

}

.static-banner h1 {
    color: white;
    font-size: 3.5em;
    margin-left: 1em;
}

.profile-box {
    min-width: 15em;
    max-width: 15em;
    min-height: 10em;
    max-height: 15em;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgba(36, 37, 37, 1);
    border-radius: 20px;

    .box1-info {
        display: block;
        align-items: center;
    }

    .box1-img {
        text-align: center;
        height: 8vh;

        .img-sign {
            width: 200px;
            margin-top: -4em;
            color: #4a0c0c;
        }

    }

    .box1-text {
        font-size: 12px;
        color: #535353;
    }

    .box1-divider {
        display: flex;
        justify-content: center;
        gap: 2em;
        margin: 3em 1em 0em 2em;

        .btn-box1 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .subtitle {
        flex: 1;
        margin-top: 1em;

    }

    .subtitle-btn {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin-top: 3em;
    }

}

.social-media {

    min-width: 15em;
    min-height: 10em;
    max-height: 15em;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgba(36, 37, 37, 1);
    border-radius: 20px;

    .box1-info {
        display: block;
        align-items: center;
    }

    .box1-img {
        text-align: center;
        height: 8vh;

        .img-sign {
            width: 200px;
            margin-top: -4em;
            color: #4a0c0c;
        }

    }

    .box1-text {
        font-size: 12px;
        color: #535353;
    }

    .box1-divider {
        display: flex;
        justify-content: center;
        gap: 2em;
        margin: 3em 1em 0em 2em;

        .btn-box1 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .subtitle {
        flex: 1;
        margin-top: 1em;

    }

    .subtitle-btn {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin-top: 3em;
    }

}

.profiles {
    display: flex;
    justify-content: center;

    gap: 1em;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.footer-title {
    color: white;
    text-align: center;
}

.credits {
    color: white;
    text-align: center;
    font-size: 14px;
}

.menu-footer {
    font-size: 16px;
}

.profile-picture {
    width: 200px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid #afadad;

}

.img-box {
    width: 50%;
    display: flex;
    justify-content: center;

}

.personal-info {
    width: 50%;

}


.name {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
}

.text-effect {
    color: rgb(189, 189, 189);
}

p {
    color: white;
}

.title-number {
    font-size: 2em !important;
    font-weight: 600;
    color: #ffffff;
}

.title-desc {
    text-align: center;
    font-size: 1em !important;
    margin-top: -15px;
    color: #1a1a1a;
    
}

.exp-box-container {
    max-width: 15em;
    min-width: 8em;
    background-color: #414141;
    min-height: 10em;
    max-height: 10em;
    border-radius: 20px;
    text-align: center;
}


.exp-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;

}

.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-top: 2em;
}

.service-img {
    width: 60px;

}

.services-subheader {

    margin-left: 2em;
}

.service-img-box {}

.services-subtitle {
    flex: 1;

}

.services-subtitle span {

    font-size: 12px;
    color: #535353;

}

.services-subtitle h1 {

    font-size: 32px;
    color: #ffffff;


}

.services-subtitle div {

    position: absolute;
    left: 80%;
    bottom: 10%;


}

.btn-position {
    position: relative;
    bottom: 35%;
    left: 80%;
}

.media-box {
    display: flex;
    justify-content: center;
    gap: 1em;

}

.media-box div {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 1em;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgb(65, 65, 65);
    border-radius: 50%;

}

.social-img {
    width: 60px;
    padding: 1em;
}

.media-container {
    margin: 1em;
    backdrop-filter: blur(8px) saturate(127%);
    -webkit-backdrop-filter: blur(8px) saturate(127%);
    background-color: rgb(44, 44, 44);
    border-radius: 20px;

}

.media-subheader {
    position: relative;
    bottom: 10%;
    left: 10%;
}

.subtitle-btn-media {
    position: absolute;
    bottom: 15%;
    left: 60%;

}

.social-media {
    min-width: 15em;
    max-width: 15em;
}

@media screen and (min-width: 1024px) {

    li {
        margin-left: 1em;
    }

    .card-name {
        min-width: 25em;
        max-width: 25em;


    }

    .box1-info {
        min-width: 1em;
    }


    .profile-picture {
        width: 180px;

    }

    .topnav{
        display: none;
    }



    .img-sign {
        width: 150px !important;
    }

    .box1-divider {}

    .experience-box {
        min-width: 29em;
        max-width: 30em;

    }

    .service-offering {
        min-width: 29em;
        max-width: 20em;


    }

    .profile-box {
        min-width: 15em;
        max-width: 15em;
    }

    .static-banner h1 {
        color: white;
        font-size: 2.5em;
        margin: 2em 0em 0em 1em;
    }

    .btn-position {
        bottom: 15%;
        left: 80%;
    }

    .subtitle {
        bottom: 1%;
    }

    .title-number {
        font-size: .9em;
    }




}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    

    .header-container{
        width: 95%;
        justify-content: space-evenly;
    }

    li{
        float: left;
        margin: 1em;
    }

    .card-name {
        min-width: 20em;
        max-width: 20em;
   

    }

    .topnav{
        display: none;
    }

    .text-effect{
        font-size: .8em;
    }

    .name{
        font-size: 1.8em;
    }

    .profile-picture{
        width: 9em;
    }

    .img-sign{
        width: 7em!important;
    }

    .box1{
        min-width: 10em;
        max-width: 10em;
    }

    .rolling-banner{
        min-width: 21em;
        max-width: 21em;
    }



    .experience-box{
        min-width: 22em;
        max-width: 22em;
    }

    .exp-box-container {
        max-width: 6em;
        min-width: 6em;
        min-height: 6em;
        max-height: 8em;

    }

    .title-number{
        font-size: 1.5em !important;
    }

    .service-offering{
        min-width: 21em;
        max-width: 21em;
        min-height: 10em;
        max-height: 15em; 
    }

    .service-img{
        width: 3em;
    }

    .service-box{
        gap: 1em;
    }

    .card-title{
        margin-top: -1em !important;
    font-size: .5em !important;
    }

    .box1-text{
        font-size: .4em !important;
    }

    .static-banner{
        min-width: 22em;
        max-width: 22em;
        min-height: 10em;
        max-height: 12em; 
    }

    .profile-box{
        min-width: 10em;
        max-width: 10em;
        min-height: 10em;
        max-height: 12em; 
    }

    .social-media{
        min-width: 10em;
        max-width: 10em;
        min-height: 10em;
        max-height: 12em; 
    }

    .subtitle-btn{
        bottom: 5%;
        
    }

    .cta span {
 
        font-size: 10px !important;

    }

    .services-subtitle h1{
        font-size: 1.2em;
    }

    .services-subtitle div{
        left: 70%;
    }

    .static-banner h1{
        margin-top: 2em;
        font-size: 2em;
    }
    
    .btn-position{
        bottom: 27%;
    }

    
}
@media screen and (max-width: 767px) {

    html{
        overflow-x: hidden;
    }

    .header-container {
        justify-content: space-between;
        width: 90% !important;
    }

    li {
        margin: .5em;
    }

  .main-content {
  
    }
    .menu {
        display: none;
    }

    .button {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .content-info {

    width: 100%;
    }

  

    .details{
        display: block;
    }

    .flex-box-container-1 {
        display: block;

    }

    .box1 {
        margin-top: 1em;
        min-width: 22em;
        max-width: 35em;

    }

    .title {
        font-size: 1em;
     
    }



    .flex-container {
        display: block;

    }

    .profile-picture{
        width: 10em !important;
    }

    .card-name {
        min-width: 20em;
        max-width: 35em;
        min-height: 22em;
        max-height: 22em;
        display: block;
        text-align: center;
    }
    
    .logo{
        font-size: 1.8em;
    }

    .card-details {
        width: 100%;
        margin-top: 1em;

    }

    .rolling-banner {
        min-width: 22em;
        max-width: 35em;
        border-radius: 10px;
    }

    .service-exp-box {
        display: block;
    }

    .experience-box {
        min-width: 22em;
        max-width: 35em;
    }

    .service-offering {
        min-width: 22em;
        max-width: 35em;
    }

    .banner-creds {
        display: block;

    }

    .profiles {
        margin-top: 1em;
       display: block;
    }

    .static-banner {
        min-width: 22em;
        max-width: 35em;
    }

    .social-media {
        min-width: 22em;
        max-width: 35em;
    }

    .profile-box {
        min-width: 22em;
        max-width: 35em;
    }


    .menu-footer {
        font-size: 12px;
    }

    .profile-picture {
        width: 180px;

    }

    .img-box {
        width: 100%;
    }

    .personal-info {
        width: 100%;
    }

    .img-sign {
        margin-top: -3em;
        width: 9.4em !important;
    }

    .title-number {
        font-size: 1.5em !important;
    }

    .title-desc {
        font-size: 14px;
    }

    .exp-box-container {
        min-width: 6em;
        max-width: 7em;
        min-height: 3em;
        max-height: 8em;
    }

    .experience-box {
        height: 16vh;
    }

    .exp-box-container {
        border-radius: 5px;
    }

    .service-img {
        width: 40px;
        margin-top: 2em;
    }

    .services-subtitle h1 {
        margin-top: 1em;
        font-size: 1.2em;
    }

    .services-subtitle div {
        left: 75%;
        bottom: 10%;
    }

    .static-banner h1 {
        position: absolute;
        bottom: 5%;
        font-size: 1.8em;
    }

    .btn-position{
        position: absolute;
        bottom: 20%;
        left: 75% !important;
    }


}

.scroll-left {
    height: 50px;
    overflow: hidden;
    position: relative;

}

.scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 70px;
    text-align: center;
    /* Starting position */
    transform: translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 15s linear infinite;
}

/* Move it (define the animation) */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.scroll-left {
    height: 50px;
    overflow: hidden;
    position: relative;

}

.scroll-left p {
    position: absolute;
    min-width: 15em;
    height: 100%;
    margin: 0;
    line-height: 70px;
    text-align: center;
    /* Starting position */
    transform: translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 15s linear infinite;
}

/* Move it (define the animation) */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}








.cta {
    position: relative;
    margin: auto;
    padding: 6px 9px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #282929;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #494949;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #4a4a4a;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #ffffff;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

/* Style the navigation menu */
.topnav {
        width: 97%;
    overflow: hidden;
    background-color: #171616;
    opacity: 90%;
    position: absolute;
    z-index: 1;
    text-align: center;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }